<launch>


<!--启动UR5的moveit-->
<include file="$(find ur5_moveit_config)/launch/demo.launch" />


<!--初始化参数服务器中的参数-->
<param name="switch_state" value="0" />
<rosparam param="laser_trans"> [0.0,0.0,0.0]</rosparam>
<rosparam param="laser_rot"> [0.0,0.0,0.0,1.0]</rosparam>


<!--发布静态tf，ccd相对ur的base_link的位置-->
<node pkg="tf" type="static_transform_publisher" name="ccd_link_broadcaster" 
args="-0.05 0.079 0 0 0 0.707 0.707 ee_link ccd_link 100" />


<!--行程开关检测节点，触碰检测,发布状态到"/switch_state"-->
<node  pkg="ccd_laser" type="switch.py" name="kaiguan" respawn="true" output="screen">
    <remap from="switch_state" to="switch_state" />
</node>


<!--CCD检测节点，提供服务，测量激光面并更新TF数据-->
<node  pkg="ccd_laser" type="ccd_serveice_node.py" name="ccd_get_plane_server" output="screen" respawn="true">
</node>


<!--从参数服务器读取激光基准面的状态，发布到tf-->
<node  pkg="ccd_laser" type="laser_tf_pub.py" name="laser_tf_pub" respawn="true">
</node>


<!--生成激光基准面点云，发布到topic，可以在rviz中可视化-->
<node  pkg="ccd_laser" type="laser_rviz_pt" name="laser_rviz_pt" respawn="true">
    <remap from="laser_pt" to="laser_pt" /> 
</node>


</launch>